html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: black;
    overflow-x: hidden;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Orbitron', sans-serif;
}

.ui.centered.grid.white {
    background-color: rgba(255,255,255,0.6);
}